{{> slide}}
<div class  = "container text-white bg bg-success text-center"><hr>
<h3 ><b>COMING SOON </b></h3>
<hr>
</div>
<br>
<p class  = "p text-justify container-fluid"> This product will be available very soon. We will inform you when it is ready</p>