{{> slide}}
<br>
<div class  = "container">
<h3 class  =  "text-center text-success h3"><b>CATEGORIES</b></h3>
</div>
<divclass  = "container-fluid text-justify">
{{#if category}}
{{#each category}}
<p>{{category}}</p>
{{/each}}
{{/if}}
</div>